<div class="jumbotron center">
<h1>About us</h1>
<p>This is my test app for <%= link_to "One Month Rails", "https://onemonth.com/courses/one-month-rails", class: 'btn btn-primary btn-lg' %></p>
</div>